.git
.github
.vscode
.idea
node_modules
**/node_modules
**/dist
**/.next
**/coverage
**/*.tsbuildinfo
**/.env
**/.env.*
!**/.env.example
**/*.local.json
docs
infra
*.md
docker-compose.dev.yml
apps/api/test
**/*.spec.ts
**/*.spec.tsx
**/*.fixture.ts
